<h1>Listing tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
    <tr class="task">
      <td><%= link_to task.name, task %></td>
      <td><%= link_to 'Finish', { action: :finish, id: task.id, remote: true }, { class: "finish_button" } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
