<tr class="field">
  <td class="data"><%= task_log.action -%></div>
  <td class="data"><%= task_log.user.try(:email) -%></div>
  <td class="data"><%= link_to task_log.task.try(:name), task_log.task -%></div>
  <td class="data"><%= distance_of_time_in_words(Time.now, task_log.created_at) -%> ago</div>
</tr>
