<h2><%= @task_header -%></h2>

<div class="display_tasks">
  <% if @task_logs -%>
    <table class="task_log_table">
      <tr>
        <th>Action</th>
        <th>User Email</th>
        <th>Task Name</th>
        <th>Time of Action</th>
      </tr>
      <%= render :partial => "display_task", :collection => @task_logs, as: :task_log -%>
    </table>
  <% else -%>
    No logs to display
  <% end -%>
</div>
