<h1>Welcome to Taskmail</h1>

<div class="description">
  We're here to provide you with easy email management. Here's what we do:
  <div class="list">
    <ul>
      <li>Manage email as tasks</li>
      <li>Send you notifications</li>
    </ul>
  </div>
</div>
<div class="tasks_link">
  <%= link_to "Go to tasks", tasks_path -%>
</div>
